body, html {
    background-color: whitesmoke;
    height: 100%; !important;
}
.container{
    height: 100%;  !important;
}

*{
    word-wrap:break-word;
}

.container-fluid{
    /*height: 100%;  !important;*/
    padding: 0;
    margin: 0;
}
.row{
    /*min-width: 100%;*/
    margin: 0;
    /*margin-bottom: 30px;*/
}
.header-bar{
    /*height:60px;*/
    background-color: white;

    z-index: 10;
}

.header-links:hover{
    text-decoration: none;
    cursor: pointer;
}
.header-links:focus{
    text-decoration: none;
}

.dropdown-menu{
    left:10%; !important;
}

.jumbotron{
    border-radius: 0;
}
.btn-style:hover{
    text-decoration: none;
    cursor: pointer;
}
#logout{
    cursor: pointer;
}
.tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    z-index: 1;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
    bottom: -7px;
    left: 0px;  
}
.tooltips .tooltiptext::after {
    /*content: "";*/
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    margin-left: -60px;
}